
# Object files and libraries
*.o
*.a
**/*.a
*.gch

# emacs files
*~
\#*\#
.\#*

# vim files
*.swp
**/*.swp

# debugging symbols
*.dSYM
**/*.dSYM

# mac
**/.DS_Store
.DS_Store

pages/*
crawler/crawler
crawler/crawler3
crawler/crawler5
crawler/crawler6
indexer/indexer
indexer/indexer4
indexer/indexer5


